@model IEnumerable<FinalProject.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Session["SESSION_GROUP"] != null)
{
    List<string> privilegeLevels = (List<string>)Session["SESSION_GROUP"];

    if (privilegeLevels[0].CompareTo("Admin") == 0 || privilegeLevels[0].CompareTo("Staff") == 0)
    {
        <div class="container-fluid mr-5">
            <h3>Danh sách hóa đơn</h3>
            <a href="~/Admin/Order/Add" class="btn btn-success" style="background-color: #007606 ">Thêm</a>
            <form method="post" action="~/Admin/Order/Index">
                <table class="table table-bordered table-striped table-hover table-responsive-sm">
                    <thead class="bg-success text-light">
                        <tr>
                            <th>Mã hóa đơn</th>
                            <th>Ngày tạo</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.ShipName</td>
                            <td>@item.ShipMobile</td>
                            <td>@item.ShipAddress</td>
                            <td>@item.ShipEmail</td>
                            <td>@item.Status</td>
                            <td><a href="~/Admin/Order/Edit/@item.OrderID">Sửa</a> | <a href="~/Admin/Order/Delete/@item.OrderID">Xóa</a></td>
                        </tr>
                        }
                    </tbody>
                </table>

            </form>
        </div>
    }
}

